@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

code {
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: var(--color-background-mute);
  font-family:
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 85%;
}

body.login-mode {
  justify-content: stretch;
  align-items: stretch;
}

body.login-mode #root {
  width: 100%;
  min-height: 100vh;
  align-self: stretch;
  align-items: stretch;
  justify-content: flex-start;
}
